[user]
  name = Gabriel Farrell
  email = g@gsf.io
  username = gsf
[core]
  pager =
  excludesfile = ~/.gitignore
[alias]
  ci = commit
  co = checkout
  rv = remote -v
  st = status -sb
  ready = rebase -i @{u}
  tree = log --oneline --graph --decorate --all --color
[push]
  default = current
