[user]
  name = Gabriel Farrell
  email = g@gsf.io
[core]
  excludesfile = ~/.gitignore
  pager =
[alias]
  ci = commit
  st = status -sb
  ready = rebase -i @{u}
  tree = log --oneline --graph --decorate --all --color
[push]
  default = current
